body {
    color: #363636;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: antiquewhite;
    flex-wrap: nowrap;
    height: fit-content;
}

#logo {
    width: 50%;
    display: flex;
}


#logotipo {
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

.nav-links {
    width: 50%;
    margin: auto;    
}

#links--list {
    margin: auto 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link-box {
   margin:auto 0;
   display: flex;
}

a {
    padding: 15px;
    color: #363636;
    text-decoration: none;
    /*border: solid 5px black;*/
    display: inline;
    text-align: center;
}

.subtitle {
    margin: 0 0 20px 0;
    text-align: center;
}

.formulario {
    display: block;
    text-align: center;
    align-items: center;
    height: 150px;
}


#campo--email {
    display: block;
    margin: auto;
    padding: 0.2em;
    width: 35%;
    min-width: 10rem;
    font-size: 1.1em;
    font-style: oblique;
    color: grey;
}

.btn {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: darkolivegreen;
    color: antiquewhite;
    border-radius: 2px;
    border: 0;
    font-size: 1.1em;
    font-weight: bolder;
    cursor: pointer;
}